<section>
    <div class="container">
        <div class="login-section">
            <h2 class="text-center mb-5">Verify OTP</h2>
            <form  [formGroup]="otpForm"  (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Otp</label>
                    <input type="text" name="otp" class="form-control" formControlName="otp"/>
                    <div *ngIf="login.otp.touched && login.otp.invalid">
                        <small class="text-danger" *ngIf="login.otp.errors?.required">
                            OTP is required!
                        </small>
                    </div>
                </div>
                <!-- <input type="hidden" name="_id" formControlName="_id" value={params} /> -->

                <!-- <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control"/>
                </div>
                <a href="#" class="float-right mb-2">Forget Password</a> -->
                <div class="form-group">
                    <button class="btn btn-danger form-control">Submit</button>
                    <p class="text-center mt-3" *ngIf="subscribeTimer > 0">Resend OTP in 00:{{subscribeTimer}} secs</p>
                    <p class="text-center mt-3" *ngIf="subscribeTimer == 0"><a href="javascript:void(0);" (click)="resendOtp();">Resend OTP</a></p>
                </div>
            </form>
            <!-- <hr>
            <p class="text-center">Login Here</p>
            <button class="btn btn-info form-control" [routerLink]="['/login']">Login</button> -->
        </div>
    </div>
</section>
