<div class="container">
    <div class="register">
        <h3 class="text-center">Register</h3>
        <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()">
            <div class="row">
                </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Email Id</label>
                        <input class="form-control" type="email" name="email"  formControlName="email" />
                        <div *ngIf="login.email.touched && login.email.invalid">
                            <small class="text-danger" *ngIf="login.email.errors?.required">
                                Email is required!
                            </small>
                            <small class="text-danger" *ngIf="login.email.errors?.email">
                                Invalid Email Address
                            </small>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" formControlName="password" />
                        <div *ngIf="login.password.touched && login.password.invalid">
                            <small class="text-danger" *ngIf="login.password.errors?.required">
                                Password is required!
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password" name="confirm_password" formControlName="confirm_password"/>
                        <div *ngIf="login.confirm_password.touched && login.confirm_password.invalid">
                            <small class="text-danger" *ngIf="login.confirm_password.errors?.required">
                                Confirm Password is required!
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <div class="form-group">
                        <button class="btn btn-info form-control">Register</button>
                    </div>
                </div>
            </div>
           
        </form>
    
        <p class="text-center">Already have Account!</p>
        <button class="btn btn-danger form-control" [routerLink]="['/login']">Login Here</button>
        <button class="btn btn-outline-info w3-medium col-md-12 text-center  mt-3 " [routerLink]="['/login']">Login with facebook</button><br/>
        <button class="btn btn-outline-info col-md-12 text-center  mt-3 " [routerLink]="['/login']">Login with google</button>

    </div>
</div>